<!DOCTYPE html>
<html>
<head>
        <title>Max's Movie Challenge!</title>
</head>
<body>

<h1>Hello, be ready to play to <em> The Max's Movie Challenge!</em></h1>

 <p> First I need a Word from you. It will allow me to ask question about movies with this word in the title!</p>
 <p> So give me a word:</p>

 <form action="/post_user_word" method="POST">
        <input type="txt" name="user_word"  placeholder="Star Treck, Zoo, Max.......">
        <!-- <button type="submit" name="op_new_post"> Send </button> -->


</form>


<!-- <a href="../">Games' Home</a> -->





</body>
</html>
