<!DOCTYPE html>
<html>
<head>
        <title>Max's Movie Challenge!</title>
</head>
<body>


<p> Here  <%= @movie_list.length %> movies. <br>
  Can you answer this question: <br>
  <%= @question_answer[0] %>
</p>


<form action="/check_answer" method="POST">
   <ul>
     <% @movie_list.each_with_index do |movie,index| %>

         <% index == @question_answer[1] ? answer = true : answer = false %>
      <li>  <input type="image" src="<%=movie.poster_path%>"  name="user_answer" value="<%=answer%>"    />  </li>
    <% end %>
</ul>
</form>


<!-- <a href="../">Games' Home</a> -->


<a href="/">Return Home</a>


</body>
</html>
